@use "../../../styles/mixins/Container" as *;
@use "../../../styles/mixins/FlexWrapper" as *;
@use '../../../styles/_variables' as *;

.projectSection {
  min-height: 80vh;
}

.projectContainer {
  @include container();
}

.projectTitle {
  margin-bottom: 32px;
}

.stackListWrapper {
  @include flexWrapper(row, space-between, flex-start, wrap);
  gap: 27px;
}