@use "../../../styles/mixins/Container" as *;
@use "../../../styles/mixins/FlexWrapper" as *;
@use '../../../styles/_variables' as *;
@use '../../../styles/_media' as *;

.projectSection {
  min-height: fit-content;
}

.projectContainer {
  @include container();
}

.projectTitle {
  margin-bottom: 32px;
}

.stackListWrapper {
  @include flexWrapper(row, center, flex-start, wrap);
  gap: 27px;

  @include tablet {
    gap: 16px
  }
}

.showMoreBtn {
  display: block;
  padding: 18px 74px;
  margin: 36px auto 0;
}