@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/_variables' as *;

.contactsSection {
  min-height: 20vh;
}

.contactsContainer {
  @include container();
}

.contactsForm {
  margin: 0 auto;
  max-width: 532px;
  width: 100%;
}

.formLabel {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  color: $textColor;
}

.inputsWrapper {
  @include flexWrapper(column);
  gap: 48px;
  width: 100%;
  margin: 28px auto 0;

  textarea {
    resize: none;
    height: 165px;
  }
}

.contactsField {
  padding: 15px 18px;
  width: 100%;
  border: 1px solid rgba(83, 64, 132, 1);
  border-radius: 6px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(145, 155, 155, 1);
  }

  &::content {
    font-weight: 500;
    font-size: 16px;
    color: $textColor;
  }
}

.contactsBtn {
  display: block;
  margin-top: 20px;
  width: 100%;
}