@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/_variables' as *;

.contactsSection {
  min-height: 20vh;
}

.contactsContainer {
  @include container();
}

.contactsForm {
  margin: 0 auto;
  max-width: 532px;
  width: 100%;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formLabel {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  color: var(--textColor);
}

.inputsWrapper {
  @include flexWrapper(column);
  gap: 25px;
  width: 100%;
  margin: 28px auto 0;

  textarea {
    resize: none;
    height: 165px;
  }
}

.contactsField {
  padding: 15px 18px;
  width: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  background: var(--bgColor);

  &:focus {
    border: 1px solid var(--primaryColor);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(145, 155, 155, 1);
  }

  font-weight: 500;
  font-size: 16px;
  color: var(--textColor);
}

.fieldError {
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: rgba(192, 83, 83, 1);
  margin-top: 7px;
}

.contactsBtn {
  display: block;
  margin-top: 20px;
  width: 100%;
}