@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/_variables' as *;

.aboutSection{
}

.aboutContainer{
  @include container();
}

.aboutDescription {
  margin-top: 20px;
  max-width: 865px;
  width: 100%;
  color: $textColor;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -17px;
    top: 3px;
    bottom: 4px;

    display: inline-block;
    width: 7px;
    background-color: $primaryColor;
    border-radius: 2px;
  }
}