@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/_variables' as *;
@use '../../../styles/media' as *;

.aboutSection {
  padding: 300px 42px 0;

  @include tablet {
    padding-top: 72px;
  }
}

.aboutContainer {
  @include container();
}

.aboutDescription {
  margin-top: 20px;
  max-width: 865px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--textColor);

  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -17px;
    top: 3px;
    bottom: 4px;

    display: inline-block;
    width: 7px;
    background: var(--primaryColor);
    border-radius: 2px;
  }
}