$primaryColor: rgba(82, 34, 208, 1);

$titleColor: rgba(21, 23, 23, 1);
$textColor: rgba(31, 38, 38, 1);
$buttonText: rgba(219, 255, 255, 1);

$projectsFont: rgba(245, 242, 253, 1);


$tablet: "screen and (max-width: 768px)";
$mobile: "screen and (max-width: 576px)";
$desktop: "screen and (min-width: 1140px)";

$transition: .2s ease-in-out

