@use './media' as *;

:root {
  --bgColor: rgba(250, 250, 250, 1);

  --primaryColor: rgba(82, 34, 208, 1);

  --titleColor: rgba(21, 23, 23, 1);
  --textColor: rgba(31, 38, 38, 1);
  --buttonText: rgba(219, 255, 255, 1);

  --projectsFont: rgba(245, 242, 253, 1);
  --mainArrowColor: rgba(82, 34, 208, 1);

  --borderColor: rgba(83, 64, 132, 1);
}

html.dark {
  --bgColor: rgba(4, 31, 49, 1);

  --primaryColor: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);

  --titleColor: rgba(189, 235, 234, 1);
  --textColor: rgba(189, 235, 234, 1);
  --buttonText: rgba(37, 39, 40, 1);

  --projectsFont: rgba(34, 37, 37, 1);
  --mainArrowColor: rgba(215, 229, 236, 1);

  --borderColor: rgba(189, 235, 234, 1);;
}

*,
*::before,
*::after {
  transition:
          background-color .3s ease,
          color .3s ease,
          border-color .3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  min-width: 365px;
  background-color: var(--bgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

section {
  padding-top: 140px;

  @include tablet {
    padding-top: 100px;
  }
}

//section:nth-of-type(odd) {
//  background-color: ${theme.colors.primaryBg};
//}
//
//section:nth-of-type(even) {
//  background-color: ${theme.colors.secondaryBg};
//}

//h3 {
//  font-family: 'Josefin Sans', sans-serif;
//  font-weight: 700;
//  font-size: 16px;
//  letter-spacing: 1px;
//}

//p {
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 1.4;
//}
