@use '../../../styles/_variables' as *;
@use '../../../styles/media' as *;

.navList {
  display: flex;
  gap: 67px;

  @include tablet {
    gap: 12px
  }
}

.headerLink {
  display: inline-block;
  padding: 12px 20px;
  position: relative;

  color: var(--textColor);

  &::before {
    content: '';
    position: absolute;

    bottom: 0;
    left: 20px;
    right: 20px;

    z-index: -1;

    height: 8px;
    border-radius: 4px;
    background-color: var(--primaryColor);

    transform: scaleX(0);
    transform-origin: left;

    transition: $transition;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &.active {
    &::before {
      right: 0;
      left: 0;
      height: 100%;
      transform: scaleX(1);
      color: var(--buttonText);;
    }
  }

 &.active {
    color: var(--buttonText);;
  }
}