@use '../../../components/mixins/Container' as *;
@use '../../../components/mixins/FlexWrapper' as *;

.skillsSection {
  min-height: 30vh;
}

.skillsContainer {
  @include container();
}


.skillsList {
  margin-top: 28px;
  @include flexWrapper(row, center, flex-start, wrap);
  row-gap: 58px;
  column-gap: 120px;
}

