@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/media' as *;

.skillsSection {
  min-height: 30vh;
}

.skillsContainer {
  @include container();
}


.skillsList {
  margin-top: 28px;
  @include flexWrapper(row, center, flex-start, wrap);
  row-gap: 58px;
  column-gap: 120px;

  @include tablet {
    row-gap: 82px;
    column-gap: 48px;
  }
}

