@use '../../../../styles/_variables' as *;

.socialListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  cursor: pointer;
}

.socialListItemName {
  font-weight: 400;
  font-size: 12px;
  line-height: 11.11px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--textColor);
}

.socialIcon {
  color: var(--mainArrowColor);
}