@use '../../styles/_variables' as *;
@use '../../styles/media' as *;

.footer {
  min-height: 40vh;
  padding-top: 190px;

  @include tablet {
    padding-top: 150px;
  }
}

.footerContainer {
  max-width: 318px;
  width: 100%;
  margin: 0 auto;
}

.footerSmall {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: var(--textColor);
}
