@use '../../styles/_variables' as *;

.customLink {
  cursor: pointer;
  transition: $transition;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  &.primary {
    background-color: $primaryColor;
    color: $buttonText;
  }

  &.secondary {
    background: transparent;
    color: $primaryColor;
  }

  &.sm {
    padding: 8px 16px;
  }

  &.md {
    padding: 12px 20px;
  }

  &.lg {
    padding: 14px 236px;
  }
}