@use '../../../styles/mixins/Container' as *;
@use '../../../styles/mixins/FlexWrapper' as *;
@use '../../../styles/_variables' as *;

.mainSection {
  min-height: 70vh;
}

.mainContainer {
  @include container();
  @include flexWrapper(row, space-between, center);

  position: relative;

  .mainArrow {
    position: absolute;
    bottom: -44px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mainContent {
  max-width: 520px;
  width: 100%;
}

.mainSmall {
  font-family: 'Tinos' ,sans-serif;
  color: $titleColor;
}

.mainAuthor {
  margin: 10px 0;
  color: $primaryColor;
}

.mainText {
  color: $textColor;
}

.mainLink {
  display: inline-block;
  margin-top: 30px;
}

.photoMain {
  max-width: 577px;
  max-height: 433px;
  object-fit: cover;
}

